Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

adding tests
  charts/cf-common-test/templates/pvc.yaml
  charts/cf-common-test/tests/pvc/deployment_test.yaml
  charts/cf-common-test/tests/pvc/error_test.yaml
  charts/cf-common-test/tests/pvc/metadata_test.yaml
  charts/cf-common-test/tests/pvc/spec_test.yaml
  charts/cf-common-test/tests/pvc/values.yaml
  charts/cf-common/templates/common/_storage.tpl
  charts/cf-common/templates/render/_pvc.tpl
  charts/cf-common/values.yaml
Labels: tests, library

docs
  charts/cf-common/README.md
Labels: library

mv
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
Labels: library

feat(cf-common): add pvc template (#30)
  .github/workflows/lint-test.yaml
  charts/cf-common-test/templates/pvc.yaml
  charts/cf-common-test/tests/pvc/deployment_test.yaml
  charts/cf-common-test/tests/pvc/error_test.yaml
  charts/cf-common-test/tests/pvc/metadata_test.yaml
  charts/cf-common-test/tests/pvc/spec_test.yaml
  charts/cf-common-test/tests/pvc/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library, automation

Update index.yaml
  index.yaml
Labels: none

add cronjob template
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: library

wip
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_job.tpl
Labels: library

wip
  charts/cf-common-test/tests/cronjob/metadata_test.yaml
  charts/cf-common-test/tests/cronjob/spec_test.yaml
  charts/cf-common-test/tests/cronjob/values.yaml
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/values.yaml
Labels: tests, library

wip
  charts/cf-common-test/tests/cronjob/spec_test.yaml
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: tests, library

wip
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add cronjob template (#31)
  charts/cf-common-test/tests/cronjob/metadata_test.yaml
  charts/cf-common-test/tests/cronjob/spec_test.yaml
  charts/cf-common-test/tests/cronjob/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): upd initContainer tpl
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): upd initContainer tpl
  charts/cf-common-test/values.yaml
  charts/cf-common/values.yaml
Labels: library

tests
  charts/cf-common-test/tests/deployment/spec_test.yaml
Labels: tests

tests
  charts/cf-common-test/tests/deployment/spec_test.yaml
Labels: tests

docs
  charts/cf-common-test/README.md
  charts/cf-common/README.md
Labels: library

feat(cf-common): upd initContainer tpl (#32)
  charts/cf-common-test/README.md
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): improve ingress tpl
  charts/cf-common-test/tests/ingress/error_test.yaml
  charts/cf-common-test/tests/ingress/metadata_test.yaml
  charts/cf-common-test/tests/ingress/spec_test.yaml
  charts/cf-common-test/tests/ingress/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: tests, library

feat(cf-common): improve ingress tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
Labels: library

feat(cf-common): improve ingress tpl
  charts/cf-common/templates/ingress/_ingress.tpl
Labels: library

feat(cf-common): improve ingress tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): improve ingress tpl
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): improve ingress tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

feat(cf-common): improve ingress tpl
  charts/cf-common/templates/ingress/_ingress.tpl
Labels: library

udp workflow
  .github/workflows/lint-test.yaml
Labels: automation

feat(cf-common): improve ingress tpl (#34)
  .github/workflows/lint-test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library, automation

Update index.yaml
  index.yaml
Labels: none

wip
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/values.yaml
Labels: library

wip
  charts/cf-common-test/tests/sts/metadata_test.yaml
  charts/cf-common-test/tests/sts/values.yaml
  charts/cf-common/templates/controller/_statefulset.tpl
Labels: tests, library

bugfix(cf-common): check secret enabled in envfrom
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

bugfix(cf-common): check secret enabled in envfrom (#35)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): no podSecurityContext is enabled=false
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/templates/controller/_pod.tpl
Labels: tests, library

feat(cf-common): no podSecurityContext is enabled=false
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

tests
  charts/cf-common-test/tests/deployment/spec_test.yaml
Labels: tests

feat(cf-common): no podSecurityContext if enabled=false (#36)
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: tests, library

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
