Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, docs, automation

feat: cf-common bump version
  charts/cf-common/Chart.yaml
Labels: library

upd docs
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

upd readme
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

bump version
  charts/cf-common/Chart.yaml
Labels: library

upd docs
  charts/cf-common/README.md
Labels: library

docs(cf-common): upd values (#2)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add classic calculateRabbitMqUri helper
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/templates/classic/_helpers.tpl
Labels: tests, library

bump version
  charts/cf-common/Chart.yaml
Labels: library

upd docs
  charts/cf-common/README.md
Labels: library

feat(cf-common): add classic calculateRabbitMqUri helper (#3)
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): merge .env with .container.env
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/templates/container/_container.tpl
Labels: tests, library

bump version
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

clean up
  charts/cf-common/templates/container/_container.tpl
Labels: library

feat(cf-common): merge .env with .container.env (#4)
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_container.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): upd image.tpl for backward compatibility
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: tests, library

clean up
  charts/cf-common/templates/container/_image.tpl
Labels: library

feat(cf-common): upd image.tpl for backward compatibility (#5)
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): upd image.tpl for backward compatibility
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: tests, library

feat(cf-common): upd image.tpl for backward compatibility
  charts/cf-common-test/tests/deployment/container_test.yaml
Labels: tests

feat(cf-common): upd image.tpl for backward compatibility
  charts/cf-common/templates/container/_image.tpl
Labels: library

feat(cf-common): upd image.tpl for backward compatibility
  charts/cf-common/README.md
Labels: library

wrap imagePullSecrets in tpl
  charts/cf-common/templates/container/_image.tpl
Labels: library

add tests
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
Labels: tests

feat(cf-common): upd image.tpl for backward compatibility (#6)
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

bugfix(cf-common): reorder image tpl logic
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: library

add tests
  charts/cf-common-test/tests/deployment/container_test.yaml
Labels: tests

fix(cf-common): reorder image tpl logic (#7)
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_image.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

rollout lib template for classic
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

feat(cf-common): add ingress tpl
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/tests/ingress/error_test.yaml
  charts/cf-common-test/tests/ingress/metadata_test.yaml
  charts/cf-common-test/tests/ingress/spec_test.yaml
  charts/cf-common-test/tests/ingress/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): add ingress tpl
  .pre-commit-config.yaml
  charts/cf-common-test/templates/ingress.yaml
Labels: none

feat(cf-common): add ingress tpl
  .pre-commit-config.yaml
Labels: none

feat(cf-common): add ingress tpl
  .pre-commit-config.yaml
Labels: none

feat(cf-common): add ingress tpl
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
