Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

Update index.yaml
  index.yaml
Labels: none

bump lib chart version
  charts/internal-gateway/Chart.yaml
Labels: internal-gateway

docs
  charts/internal-gateway/README.md
Labels: internal-gateway

upd ingress class
  charts/internal-gateway/values.yaml
Labels: internal-gateway

feat(internal-gateway): add internal-gateway chart (#28)
  .github/workflows/lint-test.yaml
  charts/internal-gateway/.helmignore
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_helpers.tpl
  charts/internal-gateway/templates/_libs/_configmap.tpl
  charts/internal-gateway/templates/_libs/_deployment.tpl
  charts/internal-gateway/templates/_libs/_hpa.tpl
  charts/internal-gateway/templates/_libs/_ingress.tpl
  charts/internal-gateway/templates/_libs/_pdb.tpl
  charts/internal-gateway/templates/_libs/_rbac.tpl
  charts/internal-gateway/templates/_libs/_service.tpl
  charts/internal-gateway/templates/_libs/all_resources.yaml
  charts/internal-gateway/templates/configmap.yaml
  charts/internal-gateway/templates/deployment.yaml
  charts/internal-gateway/templates/hpa.yaml
  charts/internal-gateway/templates/ingress.yaml
  charts/internal-gateway/templates/pdb.yaml
  charts/internal-gateway/templates/rbac.yaml
  charts/internal-gateway/templates/service.yaml
  charts/internal-gateway/values.yaml
Labels: internal-gateway, automation

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add sts template
  charts/cf-common-test/tests/sts/values.yaml
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/services/_services.tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add sts template
  charts/cf-common-test/tests/sts/error_test.yaml
  charts/cf-common-test/tests/sts/spec_test.yaml
Labels: tests

feat(cf-common): add sts template
  charts/cf-common/templates/services/_services.tpl
Labels: library

feat(cf-common): add sts template
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add sts template
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

empty
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
Labels: library

empty
  charts/cf-common-test/tests/sts/spec_test.yaml
  charts/cf-common-test/tests/sts/values.yaml
  charts/cf-common/values.yaml
Labels: tests, library

empty
  charts/cf-common/values.yaml
Labels: library

empty
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

wip
  charts/cf-common-test/tests/sts/spec_test.yaml
Labels: tests

wip
  charts/cf-common/values.yaml
Labels: library

wip
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

bugfix(internal-gateway): fix ws timeout
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

fix(internal-gateway): fix ws timeout (#38)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): include volumes tpl without
  charts/cf-common/Chart.yaml
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/controller/_pod.tpl
Labels: library

fix(cf-common): include volumes tpl without
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

ajust test
  charts/cf-common-test/tests/deployment/spec_test.yaml
Labels: tests

ajust test
  charts/cf-common-test/tests/deployment/spec_test.yaml
Labels: tests

fix(cf-common): include volumes tpl without .With (#39)
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(onprem): add volumeMounts from root context
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

feat(cf-common): add volumeMounts from root context
  charts/cf-common/templates/container/_volumemounts.tpl
Labels: library

feat(cf-common): add volumeMounts from root context (#40)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

bugfix(cf-common): fix volumeMounts if condition
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

wip
  charts/cf-common/templates/container/_volumemounts.tpl
Labels: library

fix(cf-common): fix volumeMounts if condition (#41)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add service monitor tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
Labels: library

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
