Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

feat(cf-common): add service monitor tpl
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add service monitor tpl
  charts/cf-common-test/tests/serviceMonitor/error_test.yaml
  charts/cf-common-test/tests/serviceMonitor/spec_test.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): add service monitor tpl
  charts/cf-common-test/tests/serviceMonitor/metadata_test.yaml
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): add service monitor tpl
  charts/cf-common-test/tests/serviceMonitor/metadata_test.yaml
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): add service monitor tpl
  charts/cf-common/README.md
Labels: library

feat(cf-common): add service monitor tpl
  charts/cf-common-test/tests/serviceMonitor/spec_test.yaml
  charts/cf-common-test/tests/serviceMonitor/values.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

bugfix(cf-common): fix service monitor matchlabels indentation
  charts/cf-common-test/tests/serviceMonitor/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

wip
  charts/cf-common-test/tests/serviceMonitor/values.yaml
Labels: none

fix(cf-common): fix service monitor matchlabels indentation (#43)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): traling / in mongo connection string
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: tests, library

fix(cf-common): traling / in mongo connection string (#44)
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

test(cf-common): add tests for rollouts
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
  charts/cf-common/values.yaml
Labels: library

test(cf-common): add tests for rollouts
  charts/cf-common-test/tests/rollout/error_test.yaml
  charts/cf-common-test/tests/rollout/metadata_test.yaml
  charts/cf-common-test/tests/rollout/strategy_test.yaml
  charts/cf-common-test/tests/rollout/values.yaml
  charts/cf-common-test/tests/rollout/values_empty.yaml
Labels: tests

bump unittest version
  .github/workflows/lint-test.yaml
Labels: automation

bump unittest version
  .github/workflows/lint-test.yaml
Labels: automation

Update index.yaml
  index.yaml
Labels: none

adding cfapi to int-gw
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/output.yaml
  charts/internal-gateway/templates/nginx/configmap.yaml
  charts/internal-gateway/values.yaml
Labels: internal-gateway

docs
  charts/internal-gateway/README.md
Labels: internal-gateway

change path
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/templates/nginx/configmap.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/templates/nginx/configmap.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/templates/_libs/_configmap.tpl
  charts/internal-gateway/templates/nginx/configmap.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/templates/_libs/nginx/_configmap.tpl
Labels: internal-gateway

wip
  charts/internal-gateway/templates/_libs/nginx/_configmap.tpl
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/templates/_libs/nginx/_configmap.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/README.md
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/output.yaml
  charts/internal-gateway/templates/_libs/nginx/_configmap.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/README.md
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip
  charts/internal-gateway/README.md
Labels: internal-gateway

wip
  charts/internal-gateway/templates/_libs/nginx/_configmap.tpl
  charts/internal-gateway/values.yaml
  nginx.conf
Labels: internal-gateway

wip
  charts/internal-gateway/README.md
Labels: internal-gateway

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
