Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, docs, automation

feat(cf-common): add nameOverride suffix (#22)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add extra volumes and mounts template
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

tests
  charts/cf-common-test/tests/deployment/volumes_test.yaml
Labels: tests

feat(cf-common): add extra volumes and volumeMounts from globals (#23)
  charts/cf-common-test/tests/deployment/volumes_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_volumes.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): upd hpa tpl for custom metrics
  charts/cf-common-test/tests/hpa/spec_test.yaml
  charts/cf-common/templates/render/_hpa.tpl
Labels: tests, library

bump version
  charts/cf-common/Chart.yaml
Labels: library

bump version
  charts/cf-common/README.md
Labels: library

feat(cf-common): upd hpa tpl for custom metrics (#24)
  charts/cf-common-test/tests/hpa/spec_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_hpa.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): adding helper to calculate classic mongoUri conn string
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
Labels: tests, library

wip
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): add cluster wide rbac
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/values.yaml
Labels: library

wip
  charts/cf-common/templates/render/_rbac.tpl
Labels: library

wip
  charts/cf-common/templates/render/_rbac.tpl
Labels: library

wip
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/rbac/values.yaml
Labels: tests

test
  charts/cf-common-test/tests/rbac/metadata_test.yaml
Labels: tests

feat(cf-common): add cluster wide rbac (#26)
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/rbac/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

init versioning
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add versions for named templates
  .github/workflows/lint-test.yaml
  scripts/update-tpl-version.sh
Labels: automation

wip
  charts/cf-common/Chart.yaml
Labels: library

wip
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  scripts/update-tpl-version.sh
Labels: library

wip
  charts/cf-common-test/Chart.yaml
  charts/cf-common-test/templates/configmap.yaml
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/extra-resources.yaml
  charts/cf-common-test/templates/hpa.yaml
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/templates/pdb.yaml
  charts/cf-common-test/templates/rbac.yaml
  charts/cf-common-test/templates/secret.yaml
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  scripts/update-tpl-version.sh
Labels: tests

wip
  charts/cf-common-test/README.md
Labels: none

bump minor
  charts/cf-common/Chart.yaml
Labels: library

bump minor
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common-test/templates/configmap.yaml
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/extra-resources.yaml
  charts/cf-common-test/templates/hpa.yaml
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/templates/pdb.yaml
  charts/cf-common-test/templates/rbac.yaml
  charts/cf-common-test/templates/secret.yaml
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: tests, library

Thu Mar 23 18:44:59 +03 2023
  charts/cf-common-test/templates/configmap.yaml
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/extra-resources.yaml
  charts/cf-common-test/templates/hpa.yaml
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/templates/pdb.yaml
  charts/cf-common-test/templates/rbac.yaml
  charts/cf-common-test/templates/secret.yaml
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  scripts/update-tpl-version.sh
Labels: tests

Thu Mar 23 18:50:50 +03 2023
  charts/cf-common-test/Chart.yaml
  charts/cf-common-test/README.md
Labels: none

Thu Mar 23 18:57:39 +03 2023
  charts/cf-common-test/templates/configmap.yaml
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/extra-resources.yaml
  charts/cf-common-test/templates/hpa.yaml
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/templates/pdb.yaml
  charts/cf-common-test/templates/rbac.yaml
  charts/cf-common-test/templates/secret.yaml
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
  scripts/update-tpl-version.sh
Labels: tests, library

break ci
  charts/cf-common/Chart.yaml
Labels: library

break ci
  charts/cf-common/README.md
Labels: library

debug
  scripts/update-tpl-version.sh
Labels: none

debug
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

Thu Mar 23 19:22:39 +03 2023
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
