Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

wip
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

wip
  charts/cf-common-test/README.md
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common-test/README.md
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: library

wip
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
Labels: tests

feat(cf-common): adding helper to calculate classic mongoUri conn string (#25)
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

fix calculateRabbitMqUri tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: library

debug
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
Labels: tests

fix(cf-common): fix calculateRabbitMqUri tpl (#29)
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add pvc template
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_pvc.tpl
  charts/cf-common/values.yaml
Labels: library

bump
  charts/cf-common/Chart.yaml
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/README.md
Labels: library

wip
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_ingress.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_pvc.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_services.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  .github/workflows/lint-test.yaml
Labels: automation

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/common/_storage.tpl
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

wip
  charts/cf-common/templates/common/_storage.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

wip
  charts/cf-common/templates/render/_pvc.tpl
Labels: library

debug
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

debug
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

debug
  charts/cf-common/templates/controller/_volumes.tpl
Labels: library

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
