Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, docs, automation

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*

feat(cf-common): add ingress tpl
  .pre-commit-config.yaml
Labels: none

feat(cf-common): upd docs
  charts/cf-common-test/README.md
  charts/cf-common/README.md
Labels: library

feat(cf-common): rename test
  charts/cf-common-test/tests/ingress/error_test.yaml
Labels: tests

feat(cf-common): add ingress tpl (#8)
  .pre-commit-config.yaml
  charts/cf-common-test/README.md
  charts/cf-common-test/templates/ingress.yaml
  charts/cf-common-test/tests/ingress/error_test.yaml
  charts/cf-common-test/tests/ingress/metadata_test.yaml
  charts/cf-common-test/tests/ingress/spec_test.yaml
  charts/cf-common-test/tests/ingress/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

style(cf-common): rename services to service
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common-test/tests/service/error_test.yaml
  charts/cf-common-test/tests/service/metadata_test.yaml
  charts/cf-common-test/tests/service/spec_test.yaml
  charts/cf-common-test/tests/service/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library

bump version
  charts/cf-common-test/README.md
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

style(cf-common): rename services to service (#9)
  charts/cf-common-test/README.md
  charts/cf-common-test/templates/service.yaml
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common-test/tests/service/error_test.yaml
  charts/cf-common-test/tests/service/metadata_test.yaml
  charts/cf-common-test/tests/service/spec_test.yaml
  charts/cf-common-test/tests/service/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_services.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add checksum annotation
  charts/cf-common-test/tests/deployment/metadata_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/render/_ingress.tpl
Labels: tests, library

add checksum/secret annotation
  charts/cf-common-test/tests/deployment/metadata_test.yaml
  charts/cf-common/templates/common/_annotations.tpl
Labels: tests, library

feat(cf-common): add checksum annotation (#10)
  charts/cf-common-test/tests/deployment/metadata_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/render/_ingress.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

rollout lib template for classic
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

refactor(cf-common): update rbac template
  charts/cf-common-test/README.md
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/rbac/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/values.yaml
Labels: tests, library

refactor(cf-common): update rbac template (#11)
  charts/cf-common-test/README.md
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/rbac/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

rollout lib template for classic
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

rollout lib template for classic
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

rollout lib template for classic
  charts/cf-common/values.yaml
Labels: library

rollout lib template for classic
  charts/cf-common/Chart.yaml
Labels: library

rollout lib template for classic
  charts/cf-common/values.yaml
Labels: library

rollout lib template for classic
  charts/cf-common/values.yaml
Labels: library

rollout lib template for classic
  charts/cf-common/README.md
Labels: library

feat(cf-common): Add Rollout lib template (#12)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

Update values.yaml
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): rollout lib template
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

fix(cf-common): rollout lib template
  charts/cf-common/README.md
Labels: library

fix(cf-common): rollout lib template (#13)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common-test/tests/deployment/values.yaml
Labels: none

fix(cf-common): controller and rollout global values
  charts/cf-common-test/README.md
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

fix(cf-common): controller and rollout global values
  charts/cf-common-test/values.yaml
Labels: none
