Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, builder, docs, automation

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

builder:
- charts/builder/**/*
- charts/runner/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_components/_configmap.tpl
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_components/_configmap.tpl
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_components/_configmap.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

feat(cf-common): extend external-secrets to allow dataFrom
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
Labels: library

feat(cf-common): extend external-secrets to allow dataFrom
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
Labels: library

feat(cf-common): extend external-secrets to allow dataFrom
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
Labels: library

feat(cf-common): extend external-secrets to allow dataFrom
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
Labels: library

feat(cf-common): extend external-secrets to allow dataFrom
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

add auth role routing
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

corrected doc version
  charts/internal-gateway/README.md
Labels: internal-gateway

feat(cf-common): keda templates
  charts/cf-common-test/templates/scaled-object.yaml
  charts/cf-common-test/templates/trigger-authentication.yaml
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common-test/tests/keda/metadata_test.yaml
  charts/cf-common-test/tests/keda/spec_test.yaml
  charts/cf-common-test/tests/keda/targetauth_test.yaml
  charts/cf-common-test/tests/keda/values.yaml
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
Labels: tests, library

feat(cf-common): keda templates
  charts/cf-common/templates/keda/_scaledobject.tpl
Labels: library

feat(cf-common): keda templates
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common-test/tests/keda/spec_test.yaml
  charts/cf-common-test/tests/keda/targetauth_test.yaml
  charts/cf-common-test/tests/keda/values.yaml
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
Labels: tests, library

feat(cf-common): keda templates
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common-test/tests/keda/spec_test.yaml
  charts/cf-common-test/tests/keda/targetauth_test.yaml
  charts/cf-common-test/tests/keda/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): keda templates
  charts/cf-common-test/README.md
  charts/cf-common/README.md
Labels: library

feat(cf-common): keda templates
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common/templates/keda/_scaledobject.tpl
Labels: tests, library

feat(cf-common): keda templates
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): keda templates
  charts/cf-common/README.md
Labels: library

feat: add keda
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common-test/tests/keda/spec_test.yaml
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat: add keda
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

add cfapi-auth to defaults
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

helm-docs
  charts/internal-gateway/README.md
Labels: internal-gateway

feat(): add auth role routing (#81)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): default replicas if keda enabled
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): keda scaledobject fallback
  charts/cf-common/templates/keda/_scaledobject.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

wip
  charts/cf-common/templates/signadot/_virtualservice.tpl
Labels: library

wip: Thu Jun 27 14:21:01 +03 2024
  charts/cf-common-test/templates/virtualservice.yaml
  charts/cf-common/templates/signadot/_virtualservice.tpl
  charts/cf-common/values.yaml
Labels: library

wip: Thu Jun 27 14:26:27 +03 2024
  charts/cf-common-test/values.yaml
Labels: none

wip: Thu Jun 27 14:27:11 +03 2024
  charts/cf-common-test/README.md
Labels: none

Update index.yaml
  index.yaml
Labels: none

bump Chart.yaml
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/values.yaml
Labels: internal-gateway

wip: Tue Jul 2 18:24:16 +03 2024
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

feat(internal-gateway): signadot poc (#79)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_components/_configmap.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none
