Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, builder, docs, automation

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

builder:
- charts/builder/**/*
- charts/runner/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add emptyDir
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common-test/tests/deployment/volumes_test.yaml
  charts/cf-common/templates/controller/_volumes.tpl
Labels: tests, library

feat(cf-common): add emptyDir
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add emptyDir
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/values.yaml
  charts/cf-common-test/tests/deployment/volumes_test.yaml
Labels: tests

Update index.yaml
  index.yaml
Labels: none

feat(internal-gateway): add argo-platform-broadcaster
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

feat(internal-gateway): add argo-platform-broadcaster
  charts/internal-gateway/README.md
Labels: internal-gateway

feat(internal-gateway): add argo-platform-broadcaster
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

feat(internal-gateway): add argo-platform-broadcaster
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

feat(internal-gateway): add argo-platform-broadcaster
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

feat(internal-gateway): add argo-platform-broadcaster (#73)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): fix merge envs
  charts/cf-common-test/tests/deployment/values.yaml
Labels: none

add tests
  charts/cf-common-test/tests/deployment/container_test.yaml
Labels: tests

add tests
  charts/cf-common/templates/container/_container.tpl
Labels: library

add tests
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/tpl-values.yaml
Labels: tests

Update index.yaml
  index.yaml
Labels: none

feat(internal-gateway): add ipv6 support
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/templates/_components/_configmap.tpl
Labels: internal-gateway

feat(internal-gateway): add ipv6 support
  charts/internal-gateway/README.md
Labels: internal-gateway

feat(internal-gateway): add ipv6 support (#75)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_components/_configmap.tpl
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): tpl on image
  charts/cf-common-test/tests/deployment/container_test.yaml
Labels: tests

feat(cf-common): tpl on image
  CODEOWNERS
Labels: none

feat(cf-common): tpl on image
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_image.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

feat(internal-gateway): bump proxy buffer limits
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

feat(internal-gateway): bump proxy buffer limits (#78)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

feat(internal-gateway): add server directives
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/templates/_components/_configmap.tpl
Labels: internal-gateway

feat(internal-gateway): add server directives
  charts/internal-gateway/README.md
Labels: internal-gateway

signadot: wip Mon Mar 4 15:50:29 +03 2024
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_location_map.tpl
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/templates/_components/_configmap.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

add signadot routing key header
  charts/internal-gateway/values.yaml
Labels: internal-gateway
