Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common-test/tests/env-vars/firebase_env_var_secret_ref_test.yaml
  charts/cf-common-test/tests/env-vars/mongodb_env_var_secret_ref_test.yaml
  charts/cf-common-test/tests/env-vars/postgres_env_var_secret_ref_test.yaml
  charts/cf-common-test/tests/env-vars/rabbitmq_env_var_secret_ref_test.yaml
  charts/cf-common-test/tests/env-vars/redis_env_var_secret_ref_test.yaml
  charts/cf-common-test/tests/env-vars/values.yaml
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
Labels: tests, library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/external-secrets/_external-secrets.yaml
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/README.md
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): secret key ref feature for onprem
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): upd legacy calculateMongoUri tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

feat(cf-common): upd legacy calculateMongoUri tpl (#59)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): fix external-secrets tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/external-secrets/_external-secrets.yaml
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

fix(cf-common): fix external-secrets tpl
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
Labels: library

fix(cf-common): fix external-secrets tpl (#60)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

wip
  charts/cf-common/Chart.yaml
Labels: library

wip
  charts/cf-common/Chart.yaml
  charts/internal-gateway/Chart.yaml
Labels: library, internal-gateway

wip
  charts/internal-gateway/README.md
Labels: internal-gateway

fix(internal-gateway): fix argo-platform default svc address (#56)
  CODEOWNERS
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

upd CODEOWNERS
  CODEOWNERS
Labels: none

docs
  charts/cf-common/README.md
Labels: library

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

fix(internal-gateway): CVE vuln
  charts/internal-gateway/values.yaml
Labels: internal-gateway

fix(internal-gateway): CVE vuln
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
Labels: internal-gateway

fix(internal-gateway): CVE vuln (#66)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/values.yaml
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
