Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, internal-gateway, docs, automation

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

internal-gateway:
- charts/internal-gateway/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*

feat(cf-common): push chart to OCI registry
  .github/workflows/release.yaml
Labels: automation

feat(cf-common): push chart to OCI registry
  .github/workflows/release.yaml
Labels: automation

Update index.yaml
  index.yaml
Labels: none

rename step
  .github/workflows/release.yaml
Labels: automation

feat(internal-gateway): bump cf-common
  charts/internal-gateway/Chart.yaml
Labels: internal-gateway

feat(internal-gateway): bump cf-common
  charts/internal-gateway/README.md
Labels: internal-gateway

feat(internal-gateway): bump cf-common (#70)
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
Labels: internal-gateway

Update index.yaml
  index.yaml
Labels: none

feat(builder): add builder
  charts/builder/Chart.yaml
  charts/builder/README.md
  charts/builder/templates/_helpers.tpl
  charts/builder/templates/configmap.yaml
  charts/builder/templates/controller.yaml
  charts/builder/templates/service.yaml
  charts/builder/values.yaml
Labels: none

feat(builder): add builder
  charts/builder/Chart.yaml
Labels: none

feat(builder): add builder
  charts/builder/values.yaml
Labels: none

feat(builder): add builder
  charts/builder/README.md
Labels: none

feat(builder): add builder
  charts/builder/values.yaml
Labels: none

feat(builder): add builder
  charts/builder/README.md
Labels: none

feat(builder): add builder
  charts/builder/README.md
  charts/builder/values.yaml
Labels: none

feat(builder): add builder
  charts/builder/README.md
  charts/builder/values.yaml
  ct.yaml
Labels: none

feat(builder): add builder
  charts/builder/tests/builder_test.yaml
  charts/builder/tests/values/values.yaml
Labels: tests

feat(builder): add builder
  .github/workflows/lint-test.yaml
  ct.yaml
Labels: automation

feat(builder): add builder
  .github/workflows/lint-test.yaml
Labels: automation

feat(builder): add builder
  charts/builder/tests/controller/controller_test.yaml
Labels: tests

feat(builder): add builder
  charts/builder/tests/controller/controller_test.yaml
Labels: tests

feat(builder): add builder
  .github/workflows/lint-test.yaml
  charts/runner/Chart.yaml
  charts/runner/README.md
  charts/runner/templates/_helpers.tpl
  charts/runner/templates/configmap.yaml
  charts/runner/templates/controller.yaml
  charts/runner/templates/service.yaml
  charts/runner/tests/controller/controller_test.yaml
  charts/runner/tests/values/values.yaml
  charts/runner/values.yaml
Labels: tests, automation
