Repository codefresh-io/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, library, docs, automation

fix(cf-common): controller and rollout global values
  charts/cf-common-test/README.md
Labels: none

fix(cf-common): controller and rollout global values
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

fix(cf-common): controller and rollout global values (#14)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add job template
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/deployment.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/error_test.yaml
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/volumes_test.yaml
  charts/cf-common-test/tests/job/error_test.yaml
  charts/cf-common-test/tests/job/metadata_test.yaml
  charts/cf-common-test/tests/job/spec_test.yaml
  charts/cf-common-test/tests/job/values.yaml
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/service/spec_test.yaml
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/values.yaml
Labels: tests, library

feat(cf-common): add job template
  charts/cf-common/templates/controller/_job.tpl
Labels: library

bump version
  charts/cf-common/Chart.yaml
Labels: library

upd docs
  charts/cf-common/README.md
Labels: library

small fix for SA
  charts/cf-common/templates/common/_names.tpl
Labels: library

feat(cf-common): add job template (#15)
  charts/cf-common-test/templates/controller.yaml
  charts/cf-common-test/templates/deployment.yaml
  charts/cf-common-test/tests/deployment/classic_conn_uri_test.yaml
  charts/cf-common-test/tests/deployment/container_test.yaml
  charts/cf-common-test/tests/deployment/error_test.yaml
  charts/cf-common-test/tests/deployment/spec_test.yaml
  charts/cf-common-test/tests/deployment/volumes_test.yaml
  charts/cf-common-test/tests/job/error_test.yaml
  charts/cf-common-test/tests/job/metadata_test.yaml
  charts/cf-common-test/tests/job/spec_test.yaml
  charts/cf-common-test/tests/job/values.yaml
  charts/cf-common-test/tests/rbac/metadata_test.yaml
  charts/cf-common-test/tests/rbac/spec_test.yaml
  charts/cf-common-test/tests/service/spec_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/values.yaml
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

fix(cf-common): revert pod annotations
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_rollout.tpl
Labels: library

fix(cf-common): revert pod annotations
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
Labels: library

fix tests
  charts/cf-common-test/tests/deployment/metadata_test.yaml
Labels: tests

fix(cf-common): revert pod annotations (#16)
  charts/cf-common-test/tests/deployment/metadata_test.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_rollout.tpl
Labels: tests, library

Update index.yaml
  index.yaml
Labels: none

test(cf-common): no tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_secrets.tpl
Labels: library

feat(cf-common): upd apiVersion for pdb
  charts/cf-common/Chart.yaml
  charts/cf-common/templates/render/_pdb.tpl
Labels: library

docs
  charts/cf-common/README.md
Labels: library

feat(cf-common): upd apiVersion for pdb (#18)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/render/_pdb.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): create controller-type tpl
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): create controller-type tpl (#19)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

test(cf-common): debug controller
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

hotfix(cf-common): fix controller tpl (#20)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add AnalysisTemplate template
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add AnalysisTemplate template
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add AnalysisTemplate template
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

feat(cf-common): add AnalysisTemplate template
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

feat(cf-common): add AnalysisTemplate template
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/values.yaml
Labels: library

feat(cf-common): add AnalysisTemplate template (#21)
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

Update index.yaml
  index.yaml
Labels: none

feat(cf-common): add nameOverride suffix
  charts/cf-common/README.md
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/values.yaml
Labels: library

bump version
  charts/cf-common/Chart.yaml
Labels: library

bump version
  charts/cf-common/README.md
Labels: library

debug
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

debug
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/render/_hpa.tpl
Labels: library

wip
  charts/cf-common/templates/controller/_controller.tpl
Labels: library

.github/labeler.yml:

tests:
- '**/*_test.yaml'

library:
- charts/cf-common/**/*

docs:
- README.md
- CHANGELOG.md

automation:
- .github/**/*
