Repository codefresh-io/helm-charts, pull requests merged in 2024-06, with the labels that each got.

#82 feat(cf-common): templates for KEDA
  charts/cf-common-test/README.md
  charts/cf-common-test/templates/scaled-object.yaml
  charts/cf-common-test/templates/trigger-authentication.yaml
  charts/cf-common-test/tests/keda/error_test.yaml
  charts/cf-common-test/tests/keda/metadata_test.yaml
  charts/cf-common-test/tests/keda/spec_test.yaml
  charts/cf-common-test/tests/keda/targetauth_test.yaml
  charts/cf-common-test/tests/keda/values.yaml
  charts/cf-common-test/values.yaml
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_podMontor.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
  charts/cf-common/values.yaml
Labels: library, tests

#81 feat(): add auth role routing
  charts/internal-gateway/Chart.yaml
  charts/internal-gateway/README.md
  charts/internal-gateway/templates/_default_values.tpl
  charts/internal-gateway/templates/_location_map.tpl
  charts/internal-gateway/values.yaml
Labels: internal-gateway

#83 fix(cf-common): set default replicas if keda disabled
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_podMontor.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library

#84 fix(cf-common): keda scaledobject fallback
  charts/cf-common/Chart.yaml
  charts/cf-common/README.md
  charts/cf-common/templates/classic/_env_var_secret_ref.tpl
  charts/cf-common/templates/classic/_helpers.tpl
  charts/cf-common/templates/common/_annotations.tpl
  charts/cf-common/templates/common/_labels.tpl
  charts/cf-common/templates/common/_names.tpl
  charts/cf-common/templates/common/_tpl.tpl
  charts/cf-common/templates/common/_versions.tpl
  charts/cf-common/templates/container/_container.tpl
  charts/cf-common/templates/container/_env_vars.tpl
  charts/cf-common/templates/container/_image.tpl
  charts/cf-common/templates/container/_ports.tpl
  charts/cf-common/templates/container/_probes.tpl
  charts/cf-common/templates/container/_volumemounts.tpl
  charts/cf-common/templates/controller/_analysis-template.tpl
  charts/cf-common/templates/controller/_controller.tpl
  charts/cf-common/templates/controller/_cronjob.tpl
  charts/cf-common/templates/controller/_deployment.tpl
  charts/cf-common/templates/controller/_job.tpl
  charts/cf-common/templates/controller/_pod.tpl
  charts/cf-common/templates/controller/_rollout.tpl
  charts/cf-common/templates/controller/_statefulset.tpl
  charts/cf-common/templates/controller/_volumes.tpl
  charts/cf-common/templates/external-secrets/_external-secrets.tpl
  charts/cf-common/templates/ingress/_ingress.tpl
  charts/cf-common/templates/ingress/_primary.tpl
  charts/cf-common/templates/keda/_scaledobject.tpl
  charts/cf-common/templates/keda/_triggerauthentication.tpl
  charts/cf-common/templates/persistence/_pvc.tpl
  charts/cf-common/templates/persistence/_storage.tpl
  charts/cf-common/templates/render/_all.tpl
  charts/cf-common/templates/render/_configmaps.tpl
  charts/cf-common/templates/render/_extra_resources.tpl
  charts/cf-common/templates/render/_hpa.tpl
  charts/cf-common/templates/render/_pdb.tpl
  charts/cf-common/templates/render/_podMontor.tpl
  charts/cf-common/templates/render/_rbac.tpl
  charts/cf-common/templates/render/_secrets.tpl
  charts/cf-common/templates/render/_serviceMonitor.tpl
  charts/cf-common/templates/services/_primary_port.tpl
  charts/cf-common/templates/services/_primary_svc.tpl
  charts/cf-common/templates/services/_services.tpl
Labels: library
